.my-h1{
    font-size: 50px;
    color: blueviolet;
}

* {
    color: navy;
}

.card {
    background: rgba(250, 248, 246, 0.695);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.card-body {
    background: rgba(250, 248, 246, 0.239);
}