.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }

  .card-body {
    margin: 26px 66px 26px 36px;
  }

  .div, .card {
    display: flex;
  }

  img {
    border-radius: 0.5rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div, img {
    margin: 0;
  }

  img.x {
    height: 100%;
    width: auto;
  }

nav {
  width: 100vw;
}